apiVersion: carto.run/v1alpha1
kind: Workload
metadata:
  name: lowercasePetKind
  labels:
    apps.tanzu.vmware.com/workload-type-old: micropet-service-git
    apps.tanzu.vmware.com/workload-type: web        
    app.kubernetes.io/name: lowercasePetKind
    app.kubernetes.io/part-of: micropets-app
    micropets/kind: backend
spec:
  serviceAccountName: tap-default
  source:
    git:
      url: https://github.com/bmoussaud/micropets-app/
      ref:
        branch: master
  params:
    - name: port
      value: 8080
    - name: observability
      value: false
    - name: annotations
      value:
        autoscaling.knative.dev/minScale: "1"
